app-nodecount-display{
  top:0%;
  height: 10%;
  width: 100%;
  position: absolute;
  background: grey;
  margin: 0;
  padding: 0;
}
.search-bar{
  top:10%;
  height: 10%;
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
}

.node-info{
  margin: 0;
  overflow:auto;
  position: absolute;
  //flex-grow: 1;
  top: 20%;
  height: 80%;
  width: 100%;
  color: white;
  font-size: .875rem;
  font-weight: 400;
  padding: 0;

  .numeric{
    color: blue;
    font-weight: 500;
  }
  .category-title{
    background: rgb(64, 66, 88);
    padding: 4px;
    font-size: 20px;
    font-weight: 500;
    margin-left: -10px;
  }
  .category-stats{
    background: rgb(71, 78, 104);
    margin-left: -30px;
    list-style: none;
  }
}
